{% extends 'base.html.twig' %}

{% block body %}
	<h3>Top ventes du moment</h3>
	<p>Découvrez nos articles les plus vendus du mois dernier</p>
	<div class="row">
		{% for product in top_products %}
			<div class="col-md-4">
				<div class="product-item">
					<a href="{{ path('product_show', {slug: product.slug}) }}"><img class="img-fluid" src="/uploads/{{product.image}}" alt="{{product.name}}"></a>
					<h5 class="mt-2">{{ product.name}}</h5>
					<span class="product-subtitle text-center">{{product.subtitle}}</span>
					<span class="product-price text-center">{{(product.price / 100 )|number_format(2,',', '.')}}
						DT
					</span>
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- /.row -->

	<!-- START FEATURED SECTIONS -->
	<hr class="featurette-divider">

	<div class="row featurette d-flex align-items-center">
		<div class="col-md-7">
			<h2 class="featurette-heading">Don't miss our
				<span class="text-muted">Autumn PC Deals</span>
			</h2>
			<p class="lead">
				Upgrade your setup with our seasonal offers on processors, graphics cards, and more.
							Enjoy reliable performance at great prices.
			</p>
		</div>
		<div class="col-md-5 d-flex justify-content-center">
			<img class="img-fluid" style="max-height: 400px; object-fit: contain;" src="{{ asset('assets/img/pc-setup.jpg') }}" alt="High-end PC setup">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette d-flex align-items-center">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Exclusive Discounts on
				<span class="text-muted">Gaming Gear</span>
			</h2>
			<p class="lead">
				Grab limited-time offers on gaming keyboards, mice, and accessories to complete your battlestation.
			</p>
		</div>
		<div class="col-md-5 order-md-1 d-flex justify-content-center">
			<img class="img-fluid" style="max-height: 400px; object-fit: contain;" src="{{ asset('assets/img/gaming-gear.avif') }}" alt="Gaming peripherals">
		</div>
	</div>

	<hr
	class="featurette-divider">


<!-- /END FEATURED SECTIONS -->
{% endblock %}
